# {{ ansible_managed }}
############### global configuration ###############

{{ aspects_haproxy_config_global }}

############## defaults configuration ##############

{{ aspects_haproxy_config_defaults }}

############## before configuration ##############
{% for before_item in aspects_haproxy_before | default({}) | dictsort(true,'key') %}
{% if before_item.1.enabled is defined and before_item.1.enabled %}
{{ before_item.1.block }}
{% endif %}
{% endfor %}

############## userlists configuration ##############
{% for userlist_item in aspects_haproxy_userlists | default({}) | dictsort(true,'key') %}
{% if userlist_item.1.enabled is defined and userlist_item.1.enabled %}
{{ userlist_item.1.block }}
{% endif %}
{% endfor %}

############# frontends configuration #############

{% for frontend_item in aspects_haproxy_frontends | default({}) | dictsort(true,'key') %}
{% if frontend_item.1.enabled is defined and frontend_item.1.enabled %}
# start {{ frontend_item.0 }} frontend
frontend {{ frontend_item.0 }}
mode {{ frontend_item.1.mode }}

## start options
{{ frontend_item.1.options | default('') -}}

## end options

## start binds
{{ frontend_item.1.binds }}

## end binds

{% for section in frontend_item.1.sections | default({}) | dictsort(true,'key') %}
{% if section.1.enabled is defined and section.1.enabled %}
### start frontend section {{ section.0 }}
{{ section.1.block -}}

### end frontend section {{ section.0 }}

{% endif %}
{% endfor %}
# end {{ frontend_item.0 }} frontend
{% endif %}
{% endfor %}

############## backends configuration ##############

{% for backend_item in aspects_haproxy_backends | default({}) | dictsort(true,'key') %}
{% if backend_item.1.enabled %}
# start {{ backend_item.0 }} backend
{{ backend_item.1.block -}}

# end {{ backend_item.0 }} backend

{% endif %}
{% endfor %}

############## listens configuration ##############

{% for listen_item in aspects_haproxy_listens | default({}) | dictsort(true,'key') %}
{% if listen_item.1.enabled %}
# start {{ listen_item.0 }} listen
listen {{ listen_item.0 }}
mode {{ listen_item.1.mode }}
{{ listen_item.1.binds }}
{{ listen_item.1.options | default('')}}
{{ listen_item.1.block }}

# end {{ listen_item.0 }} listen

{% endif %}
{% endfor %}

############## after configuration ##############
{% for after_item in aspects_haproxy_after | default({}) | dictsort(true,'key') %}
{% if after_item.1.enabled is defined and after_item.1.enabled %}
{{ after_item.1.block }}
{% endif %}
{% endfor %}